@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --grey-200: #F5F5F5;
  /* --foreground: #171717; */
  --grey-300: #DADADA;
  --grey-400: #8A8A8A;
  --grey-500: #1F1F1F;
  --grey-700: #0D0D0D;

  --accent: #E10600;
}

@theme inline {
  --color-background: var(--grey-200);
  --color-accent: var(--accent);
  --color-grey-200: var(--grey-200);
  --color-grey-300: var(--grey-300);
  --color-grey-400: var(--grey-400);
  --color-grey-500: var(--grey-500);
  --color-grey-700: var(--grey-700);
  /* --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-geist-sans); */
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--clash-grotesk);

  --text-h1: 4.250rem;
  --text-h2: 2.625rem;
  --text-h3: 1.625rem;
  --text-body: 1rem;
  --text-caption: 0.725rem;
}

body {  
  background: var(--black);
  color: var(--grey-200);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-title {
  font-size: clamp(2.5rem, 6vw, 68px);
}

.mask-container {
  overflow: hidden;
}

.radius {
  @apply rounded-sm
}

.button-style {
  @apply bg-grey-500/10 backdrop-blur-sm
}